# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda and Virtual Envs
.conda/
env/
venv/
.venv/
*.egg-info/

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
